# API
fastapi
fastapi[standard]

# Task managment
celery
celery[redis]

# Scraping
Scrapy
scrapy-nodriver
websockets==13.1

# Data validation
pydantic

# Data storage
sqlmodel
psycopg2

# Tests
pytest
