# API
fastapi
fastapi[standard]

# Task managment
celery
celery[redis]

# Scraping
Scrapy
scrapy-nodriver
websockets==13.1
crochet

# Data validation
pydantic
pydantic-settings

# Data storage
SQLAlchemy
psycopg2
asyncpg
greenlet

# Tests
pytest
